<font color='blue'>  
  
# PROJETO PANDAS OLIMPÍADAS
**<font color='blue'>Respostas e comentários estão em azul**

# História das Olimpíadas

Após um ano de atraso por conta da pandemia de Covid-19, as atenções do mundo todo se voltaram para Tóquio, no Japão, para acompanhar mais uma edição das Olimpíadas.

No Brasil não foi diferente, e muitos se uniram para torcer por nossos atletas em diferentes competições, tanto em esportes onde o Brasil já possui tradição quanto em novos esportes.

Vamos aproveitar o clima para estudar um pouco das Olimpíadas! Utilizaremos um _dataset_ com 120 anos de dados históricos das Olimpíadas, cobrindo desde os jogos de Atenas 1896 até Rio 2016. 

Faça o download do _dataset_ em https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results e carregue o arquivo ```athlete_events.csv``` para um DataFrame utilizando Pandas. Aproveite para explorar seu DataFrame e se familiarizar com a sua estrutura. 

OBS: Fique à vontade para acrescentar mais células Python conforme necessário em qualquer etapa do exercício.

In [1]:
import pandas as pd 
import numpy as np

df_historico_olimpiadas = pd.read_csv('athlete_events.csv')
df_historico_olimpiadas

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [2]:
df_historico_olimpiadas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

## 1. O Brasil nas Olimpíadas

Vamos começar estudando o desempenho do nossos próprio país. Gere um DataFrame novo contendo apenas as informações sobre atletas brasileiros.

<font color='blue'> Filtrar por Team = Brazil não traz todos os resultados de acordo com a página do Comitê Olímpico Brasileiro, então foi o utilizado a coluna NOC

In [3]:
df_historico_olimpiadas_br = df_historico_olimpiadas[df_historico_olimpiadas['NOC'] == 'BRA']

### Medalhistas

Vamos focar um pouco nos casos de sucesso do Brasil. Use o seu DataFrame anterior para filtrar apenas informações sobre **medalhistas** brasileiros. 

**DICA:** observe como a coluna ```Medal``` é representada quando o atleta não ganhou medalha.

In [4]:
df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1651,918,Ademir Roque Kaefer,M,24.0,179.0,74.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,Silver
1652,918,Ademir Roque Kaefer,M,28.0,179.0,74.0,Brazil,BRA,1988 Summer,1988,Summer,Seoul,Football,Football Men's Football,Silver
1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
1733,966,Daniel Adler,M,26.0,180.0,72.0,Brazil,BRA,1984 Summer,1984,Summer,Los Angeles,Sailing,Sailing Mixed Three Person Keelboat,Silver
1856,1020,Adriana Aparecida dos Santos,F,25.0,180.0,61.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267709,133931,Arthur Nabarrete Zanetti,M,26.0,156.0,61.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,Silver
268211,134186,"Jos Elias ""Z Elias"" Moedim Jnior",M,19.0,178.0,75.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268218,134190,"Jos Marco ""Z Marco"" Nobrega Ferreira de Melo",M,29.0,190.0,86.0,Brazil-1,BRA,2000 Summer,2000,Summer,Sydney,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,Silver
268219,134191,"Jos Marcelo ""Z Maria"" Ferreira",M,22.0,175.0,71.0,Brazil,BRA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,Bronze
268247,134211,Jos Carlos Cracco Neto,M,22.0,170.0,69.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Men's Football,Gold

### Verão vs Inverno

Você deve ter notado que temos duas categorias distintas de jogos olímpicos, representados pela estação: temos os jogos de verão e os jogos de inverno, que ocorrem de maneira intercalada.

Agora que já conhecemos os medalhistas brasileiros, resposta: quantos atletas brasileiros receberam medalha nos jogos de verão e quantos receberam nos jogos de inverno?

<font color='blue'> 
    
- Verão:</font>

In [5]:
df_historico_olimpiadas_br[(~ pd.isna(df_historico_olimpiadas_br['Medal'])&(df_historico_olimpiadas_br['Season'] == 'Summer' ))]['Medal'].value_counts().sum()

475

<font color='blue'> 
    
- Inverno:</font>

In [6]:
df_historico_olimpiadas_br[(~ pd.isna(df_historico_olimpiadas_br['Medal'])&(df_historico_olimpiadas_br['Season'] == 'Winter' ))]['Medal'].value_counts().sum()

0

Os jogos de verão são bem mais populares do que os jogos de inverno no Brasil. Portanto, deste ponto em diante iremos focar apenas nos jogos de verão. Descarte de seu DataFrame os dados dos jogos de inverno.

In [7]:
df_historico_olimpiadas_br = df_historico_olimpiadas_br[df_historico_olimpiadas_br['Season'] == 'Summer']

### Atletas do Brasil

Vamos conhecer um pouco melhor nossos atletas. Descubra a altura e peso médio de nossos medalhistas.

<font color='blue'> 
    
- Altura média dos medalhistas brasileiros</font>

In [8]:
df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])]['Height'].mean()

182.4945295404814

<font color='blue'> 
    
- Peso médio dos medalhistas brasileiros</font>

In [9]:
df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])]['Weight'].mean()

76.7069351230425

Imaginamos que diferentes esportes podem beneficiar diferentes tipos físicos, certo? Então refaça a análise anterior, mas obtendo os valores médios **por esporte**.

In [10]:
df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport'])['Height','Weight'].mean()

<ipython-input-10-5621d4682da9>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport'])['Height','Weight'].mean()

                       Height     Weight
Sport
Athletics          181.000000  74.576923
Basketball         185.607843  78.478261
Beach Volleyball   184.880000  78.160000
Boxing             170.000000  64.000000
Canoeing           175.000000  83.250000
Equestrianism      179.666667  75.000000
Football           175.803030  69.961832
Gymnastics         162.750000  63.750000
Judo               176.666667  86.285714
Modern Pentathlon  166.000000  55.000000
Sailing            181.588235  80.411765
Shooting           175.000000  69.000000
Swimming           189.105263  81.555556
Taekwondo          184.000000  79.500000
Volleyball         190.591667  81.166667

Será que os dados acima influenciaram no interesse geral dos atletas pelo esporte ou realmente impactaram no desempenho deles? Podemos tentar descobrir se há algum tipo de correlação.

Você ainda possui o dataframe original contendo todos os atletas brasileiros, incluindo os sem medalha? Obtenha os valores médios de peso e altura por esporte daquele dataframe e compare-o com os dos medalhistas. Há alguma diferença significativa em algum esporte?

In [11]:
df_historico_olimpiadas_br.groupby(by=['Sport'])['Height','Weight'].mean()

<ipython-input-11-e7e6e8f16f14>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_historico_olimpiadas_br.groupby(by=['Sport'])['Height','Weight'].mean()

                           Height     Weight
Sport
Archery                172.600000  71.700000
Art Competitions              NaN        NaN
Athletics              176.203463  67.795045
Badminton              175.500000  74.000000
Basketball             190.911894  85.900474
Beach Volleyball       185.702128  78.617021
Boxing                 171.985075  64.106061
Canoeing               177.791667  77.395833
Cycling                174.235955  66.870588
Diving                 167.444444  64.970588
Equestrianism          177.429530  72.313869
Fencing                179.196429  73.357143
Football               173.369176  67.760456
Golf                   170.000000  62.000000
Gymnastics             157.268041  52.463918
Handball               181.474453  80.773723
Hockey                 177.437500  76.125000
Judo                   173.925234  80.289720
Modern Pentathlon      168.600000  60.666667
Rhythmic Gymnastics    164.160000  48.160000
Rowing                 180.552083  80.090909
Rugby Sevens           171.240000  72.880000
Sailing                179.677019  76.805195
Shooting               174.035294  76.916667
Swimming               181.176471  74.586634
Synchronized Swimming  168.461538  57.423077
Table Tennis           169.727273  64.181818
Taekwondo              173.769231  63.615385
Tennis                 183.900000  73.675000
Trampolining           168.000000  58.000000
Triathlon              175.800000  64.400000
Volleyball             187.762411  78.847518
Water Polo             179.888889  81.471698
Weightlifting          169.909091  85.640000
Wrestling              176.230769  83.153846

<font color='blue'>Remover o esporte que não tem média de peso nem média de altura</font>

In [12]:
media_todos_atletas = df_historico_olimpiadas_br.groupby(by=['Sport'])['Height','Weight'].mean().drop('Art Competitions', axis=0)

<ipython-input-12-5cdeaa7d4243>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_todos_atletas = df_historico_olimpiadas_br.groupby(by=['Sport'])['Height','Weight'].mean().drop('Art Competitions', axis=0)

**<font color='blue'>Como a lista de esportes na qual o Brasil já participou é maior do que a lista de esportes com medalhistas, é necessario filtrar apenas os esportes que já obtiveram medalhistas para fazer a comparação**</font>

In [13]:
# Criação do filtro dos esportes com medalhas
lista_esportes_medalha = df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport'])['Weight'].mean().index
filtro_esportes_medalha = media_todos_atletas.index.isin(lista_esportes_medalha)

In [14]:
# Diferença entre média dos medalhistas brasileiros e a média de todos os atletas brasileiros por esporte (Altura e Peso)
df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport'])['Height','Weight'].mean() - media_todos_atletas[filtro_esportes_medalha]

<ipython-input-14-849076ddde30>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport'])['Height','Weight'].mean() - media_todos_atletas[filtro_esportes_medalha]

                      Height     Weight
Sport
Athletics           4.796537   6.781878
Basketball         -5.304051  -7.422213
Beach Volleyball   -0.822128  -0.457021
Boxing             -1.985075  -0.106061
Canoeing           -2.791667   5.854167
Equestrianism       2.237136   2.686131
Football            2.433855   2.201376
Gymnastics          5.481959  11.286082
Judo                2.741433   5.995995
Modern Pentathlon  -2.600000  -5.666667
Sailing             1.911217   3.606570
Shooting            0.964706  -7.916667
Swimming            7.928793   6.968922
Taekwondo          10.230769  15.884615
Volleyball          2.829255   2.319149

<font color='blue'>Para análise da tabela acima foi estabelecido o critério arbritrário para peso e altura:   
- A medida impacta no desempenho do atleta caso o módulo da diferença entre a média dos medalhistas e média de todos os atletas for maior ou igual a 7;
- Se o módulo da diferença é menor que 7, significa que a medida não tem relação com o desempenho do atleta</font>

#### <font color='blue'>Diferença de altura</font>
<font color='blue'>A partir do resultado acima, observa-se que a Natação e o Taekwondo são esportes onde a altura média dos medalhistas é significativamente maior que a altura média de todos os atletas olímpicos.</font>

#### <font color='blue'>Diferença de peso</font>
<font color='blue'>A partir do resultado acima, observa-se que o Taekwondo, a Ginástica, o Tiro ao alvo e o Basquete são esportes onde o peso médio dos atletas pode influenciar no desempenho.
- No Taekwondo e na Ginástica, os medalhistas são razoavelmente mais pesados que a média de peso dos atletas em geral;
- No Tiro e no Basquete, os medalhistas são razoavelmente mais leves que a média de peso dos atletas em geral;</font>

Existe um detalhe importante passando batido até agora em nossa análise: as categorias esportivas costumam ser divididas por gênero justamente por conta de diferenças físicas entre homens e mulheres que poderiam influenciar no desempenho. Compare a altura e peso médios de atletas brasileiros por esporte segmentado por sexo.

In [15]:
media_todos_atletas_sexo = df_historico_olimpiadas_br.groupby(by=['Sport','Sex'])['Height','Weight'].mean().pivot_table(index="Sport", columns='Sex', values=['Height','Weight'])
media_medalhistas_sexo =  df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport','Sex'])['Height','Weight'].mean().pivot_table(index="Sport", columns='Sex', values=['Height','Weight'])
media_medalhistas_sexo - media_todos_atletas_sexo[filtro_esportes_medalha]

<ipython-input-15-f2f14e3d751c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_todos_atletas_sexo = df_historico_olimpiadas_br.groupby(by=['Sport','Sex'])['Height','Weight'].mean().pivot_table(index="Sport", columns='Sex', values=['Height','Weight'])
<ipython-input-15-f2f14e3d751c>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  media_medalhistas_sexo =  df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].groupby(by=['Sport','Sex'])['Height','Weight'].mean().pivot_table(index="Sport", columns='Sex', values=['Height','Weight'])

                     Height               Weight
Sex                       F          M         F          M
Sport
Athletics          5.507042   1.251250  1.190141   3.570331
Basketball         0.509146  -7.869476 -1.756579  -6.993603
Beach Volleyball  -1.478261   1.041667 -0.836120   1.666667
Boxing            -0.600000  -1.588710 -5.000000   0.967213
Canoeing                NaN  -3.545455       NaN   4.681818
Equestrianism           NaN   1.498783       NaN   1.232000
Football           0.353782   1.729804  0.653748   0.779707
Gymnastics              NaN  -6.165493       NaN  -1.588028
Judo               1.082353   2.216610 -2.841176   6.635274
Modern Pentathlon  0.250000        NaN  0.500000        NaN
Sailing            0.500000   1.525926  1.096154   2.918750
Shooting                NaN  -0.555556       NaN -12.085106
Swimming          -4.388350   5.497239 -7.151515   3.697396
Taekwondo          6.142857  14.000000  8.000000  23.333333
Volleyball         1.996822   3.050136  2.114054   1.930556

<font color='blue'>Ao observar a tabela acima percebe-se que o módulo da diferença entre média dos medalhistas e média dos atletas em geral é significativamente maior para atletas do sexo masculino na maioria dos esportes. Ou seja, parece haver maior correlação entre a medida (peso e altura) e o desempenho para atletas do sexo masculino. Para atletas do sexo feminino parece haver pouca correlação entre desempenho e medidas (peso e altura) para a maioria dos esportes.</font>

Qual foi (ou quais foram) o maior medalhista brasileiro em quantidade total de medalhas?

In [16]:
maior_qtd_medalhas = df_historico_olimpiadas_br[~ df_historico_olimpiadas_br['Medal'].isna()].value_counts('Name').max()
brasileiros_mais_medalhas = df_historico_olimpiadas_br[~ df_historico_olimpiadas_br['Medal'].isna()].value_counts('Name')[df_historico_olimpiadas_br[~ df_historico_olimpiadas_br['Medal'].isna()].value_counts('Name')==maior_qtd_medalhas]
brasileiros_mais_medalhas

Name
Robert Scheidt          5
Torben Schmidt Grael    5
dtype: int64

E o(s) maior(es) em quantidade de medalhas de ouro?

In [17]:
maior_qtd_medalhas_ouro = df_historico_olimpiadas_br[df_historico_olimpiadas_br['Medal']=='Gold'].value_counts('Name').max()
mais_ouro_brasil = df_historico_olimpiadas_br[df_historico_olimpiadas_br['Medal']=='Gold'].value_counts('Name')[df_historico_olimpiadas_br[df_historico_olimpiadas_br['Medal']=='Gold'].value_counts('Name')==maior_qtd_medalhas_ouro]
mais_ouro_brasil

Name
Fabiana "Fabi" Alvim de Oliveira                      2
Torben Schmidt Grael                                  2
Fabiana Marcelino Claudino                            2
Giovane Farinazzo Gvio                                2
Paula Renata Marques Pequeno                          2
Sheilla Tavares de Castro Blassioli                   2
Srgio "Escadinha" Dutra dos Santos                    2
Robert Scheidt                                        2
Thasa Daher de Menezes                                2
Jaqueline Maria "Jaque" Pereira de Carvalho Endres    2
Marcelo Bastos Ferreira                               2
Maurcio Camargo Lima                                  2
Adhemar Ferreira da Silva                             2
dtype: int64

Qual esporte rendeu mais medalhas de ouro para o Brasil? E qual rendeu mais medalhas no total?

**DICA:** tome muito cuidado nessa análise: cada **evento esportivo** rende 1 medalha. Por exemplo, quando a equipe de futebol vence, isso é considerado 1 medalha, mesmo tendo cerca de 20 atletas medalhistas na equipe.

<font color='blue'>Esporte com mais medalhas de ouro:</font>

In [18]:
um_medalhista_p_evento_ouro = df_historico_olimpiadas_br[df_historico_olimpiadas_br['Medal']=='Gold'].drop_duplicates(subset=['Year', 'Event'])
esportes_medalhas_ouro = um_medalhista_p_evento_ouro.groupby(by='Sport')['Medal'].value_counts()
esporte_mais_medalhas_ouro = esportes_medalhas_ouro[esportes_medalhas_ouro == esportes_medalhas_ouro.max()]
esporte_mais_medalhas_ouro

Sport    Medal
Sailing  Gold     7
Name: Medal, dtype: int64

<font color='blue'>Esporte com mais medalhas no total:</font>

In [19]:
um_medalhista_p_evento = df_historico_olimpiadas_br[~ pd.isna(df_historico_olimpiadas_br['Medal'])].drop_duplicates(subset=['Year', 'Event', 'Medal'])
esportes_medalhas = um_medalhista_p_evento.groupby(by=['Sport'])['Medal'].value_counts().groupby(by='Sport').sum()
esporte_mais_medalhas_total = esportes_medalhas[esportes_medalhas == esportes_medalhas.max()]
esporte_mais_medalhas_total

Sport
Judo    22
Name: Medal, dtype: int64

Cada "categoria" dentro de um esporte é considerado um evento. Por exemplo, dentro de "atletismo", temos uma competição de 100m masculina, uma de 100m feminino, um revezamento 4 x 100m masculino, um revezamento 4 x 100m feminino, uma competição de 400m masculino, uma de 400m feminino, uma maratona masculina, uma maratona feminina, e assim sucessivamente.

Sabendo disso, qual evento esportivo mais rendeu medalhas de ouro para o Brasil? E total de medalhas?

<font color='blue'>Evento com mais medalhas de ouro:</font>

In [20]:
evento_medalhas_ouro = um_medalhista_p_evento_ouro.groupby(by='Event')['Medal'].value_counts()
evento_mais_medalhas_ouro = evento_medalhas_ouro[evento_medalhas_ouro == evento_medalhas_ouro.max()]
evento_mais_medalhas_ouro

Event                        Medal
Volleyball Men's Volleyball  Gold     3
Name: Medal, dtype: int64

<font color='blue'>Evento com mais medalhas no total:</font>

In [22]:
evento_medalhas = um_medalhista_p_evento.groupby(by=['Event'])['Medal'].value_counts().groupby(by='Event').sum()
evento_mais_medalhas = evento_medalhas[evento_medalhas == evento_medalhas.max()]
evento_mais_medalhas

Event
Beach Volleyball Women's Beach Volleyball    7
Name: Medal, dtype: int64

Para finalizar sobre o Brasil: obtenha o total de medalhas de ouro, prata, bronze e total por ano.

<font color='blue'>Quantidade de medalhas de bronze, prata e ouro por ano:</font>

In [23]:
total_medalhas_tipo_ano_br = um_medalhista_p_evento.groupby(by='Year')['Medal'].value_counts()
total_medalhas_tipo_ano_br

Year  Medal
1920  Bronze    1
      Gold      1
      Silver    1
1948  Bronze    1
1952  Bronze    2
      Gold      1
1956  Gold      1
1960  Bronze    2
1964  Bronze    1
1968  Bronze    2
      Silver    1
1972  Bronze    2
1976  Bronze    2
1980  Bronze    2
      Gold      2
1984  Silver    5
      Bronze    2
      Gold      1
1988  Bronze    3
      Silver    2
      Gold      1
1992  Gold      2
      Silver    1
1996  Bronze    9
      Gold      3
      Silver    3
2000  Bronze    6
      Silver    6
2004  Gold      5
      Bronze    3
      Silver    2
2008  Bronze    9
      Silver    4
      Gold      3
2012  Bronze    9
      Silver    5
      Gold      3
2016  Gold      7
      Bronze    6
      Silver    6
Name: Medal, dtype: int64

<font color='blue'>Quantidade total de medalhas por ano:</font>

In [24]:
total_medalhas_ano_br = um_medalhista_p_evento.groupby(by='Year')['Medal'].value_counts().groupby(by='Year').sum()
total_medalhas_ano_br

Year
1920     3
1948     1
1952     3
1956     1
1960     2
1964     1
1968     3
1972     2
1976     2
1980     4
1984     8
1988     6
1992     3
1996    15
2000    12
2004    10
2008    16
2012    17
2016    19
Name: Medal, dtype: int64

## 2. O mundo nos jogos de verão

Vamos agora analisar um pouquinho do que aconteceu nas Olimpíadas de verão em todo o mundo.

Retome o DataFrame original e descarte as informações sobre os jogos de inverno.

In [25]:
df_historico_olimpiadas_verao = df_historico_olimpiadas[df_historico_olimpiadas['Season'] == 'Summer']

Obtenha a lista de todos os esportes já disputados nas olimpíadas de verão.

In [26]:
df_historico_olimpiadas_verao.groupby(by='Sport')['Sport'].value_counts().index.get_level_values(0).values

array(['Aeronautics', 'Alpinism', 'Archery', 'Art Competitions',
       'Athletics', 'Badminton', 'Baseball', 'Basketball',
       'Basque Pelota', 'Beach Volleyball', 'Boxing', 'Canoeing',
       'Cricket', 'Croquet', 'Cycling', 'Diving', 'Equestrianism',
       'Fencing', 'Figure Skating', 'Football', 'Golf', 'Gymnastics',
       'Handball', 'Hockey', 'Ice Hockey', 'Jeu De Paume', 'Judo',
       'Lacrosse', 'Modern Pentathlon', 'Motorboating', 'Polo',
       'Racquets', 'Rhythmic Gymnastics', 'Roque', 'Rowing', 'Rugby',
       'Rugby Sevens', 'Sailing', 'Shooting', 'Softball', 'Swimming',
       'Synchronized Swimming', 'Table Tennis', 'Taekwondo', 'Tennis',
       'Trampolining', 'Triathlon', 'Tug-Of-War', 'Volleyball',
       'Water Polo', 'Weightlifting', 'Wrestling'], dtype=object)

Obtenha a lista de todas as modalidades esportivas já disputadas nas olimpíadas de verão.

In [27]:
df_historico_olimpiadas_verao.groupby(by='Event')['Event'].value_counts().index.get_level_values(0).values

array(['Aeronautics Mixed Aeronautics', 'Alpinism Mixed Alpinism',
       "Archery Men's Au Chapelet, 33 metres",
       "Archery Men's Au Chapelet, 50 metres",
       "Archery Men's Au Cordon Dore, 33 metres",
       "Archery Men's Au Cordon Dore, 50 metres",
       "Archery Men's Championnat Du Monde",
       "Archery Men's Continental Style",
       "Archery Men's Double American Round",
       "Archery Men's Double York Round", "Archery Men's Individual",
       "Archery Men's Pole Archery, Large Birds, Individual",
       "Archery Men's Pole Archery, Large Birds, Team",
       "Archery Men's Pole Archery, Small Birds, Individual",
       "Archery Men's Pole Archery, Small Birds, Team",
       "Archery Men's Sur La Perche a La Herse",
       "Archery Men's Sur La Perche a La Pyramide",
       "Archery Men's Target Archery, 28 metres, Individual",
       "Archery Men's Target Archery, 28 metres, Team",
       "Archery Men's Target Archery, 33 metres, Individual",
       "Archery Men's Target Archery, 33 metres, Team",
       "Archery Men's Target Archery, 50 metres, Individual",
       "Archery Men's Target Archery, 50 metres, Team",
       "Archery Men's Team", "Archery Men's Team Round",
       "Archery Men's Unknown Event",
       "Archery Women's Double Columbia Round",
       "Archery Women's Double National Round",
       "Archery Women's Individual", "Archery Women's Team",
       "Archery Women's Team Round",
       'Art Competitions Mixed Architecture',
       'Art Competitions Mixed Architecture, Architectural Designs',
       'Art Competitions Mixed Architecture, Designs For Town Planning',
       'Art Competitions Mixed Architecture, Unknown Event',
       'Art Competitions Mixed Literature',
       'Art Competitions Mixed Literature, Dramatic Works',
       'Art Competitions Mixed Literature, Epic Works',
       'Art Competitions Mixed Literature, Lyric Works',
       'Art Competitions Mixed Literature, Unknown Event',
       'Art Competitions Mixed Music',
       'Art Competitions Mixed Music, Compositions For Orchestra',
       'Art Competitions Mixed Music, Compositions For Solo Or Chorus',
       'Art Competitions Mixed Music, Instrumental And Chamber',
       'Art Competitions Mixed Music, Unknown Event',
       'Art Competitions Mixed Music, Vocals',
       'Art Competitions Mixed Painting',
       'Art Competitions Mixed Painting, Applied Arts',
       'Art Competitions Mixed Painting, Drawings And Water Colors',
       'Art Competitions Mixed Painting, Graphic Arts',
       'Art Competitions Mixed Painting, Paintings',
       'Art Competitions Mixed Painting, Unknown Event',
       'Art Competitions Mixed Sculpturing',
       'Art Competitions Mixed Sculpturing, Medals',
       'Art Competitions Mixed Sculpturing, Medals And Plaques',
       'Art Competitions Mixed Sculpturing, Medals And Reliefs',
       'Art Competitions Mixed Sculpturing, Reliefs',
       'Art Competitions Mixed Sculpturing, Statues',
       'Art Competitions Mixed Sculpturing, Unknown Event',
       'Art Competitions Mixed Unknown Event',
       "Athletics Men's 1,500 metres",
       "Athletics Men's 1,500 metres Walk",
       "Athletics Men's 1,600 metres Medley Relay",
       "Athletics Men's 10 kilometres Walk",
       "Athletics Men's 10 mile Walk", "Athletics Men's 10,000 metres",
       "Athletics Men's 100 metres", "Athletics Men's 110 metres Hurdles",
       "Athletics Men's 2,500 metres Steeplechase",
       "Athletics Men's 2,590 metres Steeplechase",
       "Athletics Men's 20 kilometres Walk", "Athletics Men's 200 metres",
       "Athletics Men's 200 metres Hurdles",
       "Athletics Men's 3 mile, Team",
       "Athletics Men's 3,000 metres Steeplechase",
       "Athletics Men's 3,000 metres Walk",
       "Athletics Men's 3,000 metres, Team",
       "Athletics Men's 3,200 metres Steeplechase",
       "Athletics Men's 3,500 metres Walk",
       "Athletics Men's 4 mile, Team",
       "Athletics Men's 4 x 100 metres Relay",
       "Athletics Men's 4 x 400 metres Relay",
       "Athletics Men's 4,000 metres Steeplechase",
       "Athletics Men's 400 metres", "Athletics Men's 400 metres Hurdles",
       "Athletics Men's 5 mile", "Athletics Men's 5,000 metres",
       "Athletics Men's 5,000 metres, Team",
       "Athletics Men's 50 kilometres Walk",
       "Athletics Men's 56-pound Weight Throw",
       "Athletics Men's 60 metres", "Athletics Men's 800 metres",
       "Athletics Men's All-Around Championship",
       "Athletics Men's Cross-Country, Individual",
       "Athletics Men's Cross-Country, Team", "Athletics Men's Decathlon",
       "Athletics Men's Discus Throw",
       "Athletics Men's Discus Throw, Both Hands",
       "Athletics Men's Discus Throw, Greek Style",
       "Athletics Men's Hammer Throw", "Athletics Men's High Jump",
       "Athletics Men's Javelin Throw",
       "Athletics Men's Javelin Throw, Both Hands",
       "Athletics Men's Javelin Throw, Freestyle",
       "Athletics Men's Long Jump", "Athletics Men's Marathon",
       "Athletics Men's Pentathlon",
       "Athletics Men's Pentathlon (Ancient)",
       "Athletics Men's Pole Vault", "Athletics Men's Shot Put",
       "Athletics Men's Shot Put, Both Hands",
       "Athletics Men's Standing High Jump",
       "Athletics Men's Standing Long Jump",
       "Athletics Men's Standing Triple Jump",
       "Athletics Men's Stone Throw", "Athletics Men's Triple Jump",
       "Athletics Women's 1,500 metres",
       "Athletics Women's 10 kilometres Walk",
       "Athletics Women's 10,000 metres", "Athletics Women's 100 metres",
       "Athletics Women's 100 metres Hurdles",
       "Athletics Women's 20 kilometres Walk",
       "Athletics Women's 200 metres", "Athletics Women's 3,000 metres",
       "Athletics Women's 3,000 metres Steeplechase",
       "Athletics Women's 4 x 100 metres Relay",
       "Athletics Women's 4 x 400 metres Relay",
       "Athletics Women's 400 metres",
       "Athletics Women's 400 metres Hurdles",
       "Athletics Women's 5,000 metres",
       "Athletics Women's 80 metres Hurdles",
       "Athletics Women's 800 metres", "Athletics Women's Discus Throw",
       "Athletics Women's Hammer Throw", "Athletics Women's Heptathlon",
       "Athletics Women's High Jump", "Athletics Women's Javelin Throw",
       "Athletics Women's Long Jump", "Athletics Women's Marathon",
       "Athletics Women's Pentathlon", "Athletics Women's Pole Vault",
       "Athletics Women's Shot Put", "Athletics Women's Triple Jump",
       "Badminton Men's Doubles", "Badminton Men's Singles",
       'Badminton Mixed Doubles', "Badminton Women's Doubles",
       "Badminton Women's Singles", "Baseball Men's Baseball",
       "Basketball Men's Basketball", "Basketball Women's Basketball",
       "Basque Pelota Men's Two-Man Teams With Cesta",
       "Beach Volleyball Men's Beach Volleyball",
       "Beach Volleyball Women's Beach Volleyball",
       "Boxing Men's Bantamweight", "Boxing Men's Featherweight",
       "Boxing Men's Flyweight", "Boxing Men's Heavyweight",
       "Boxing Men's Light-Flyweight", "Boxing Men's Light-Heavyweight",
       "Boxing Men's Light-Middleweight",
       "Boxing Men's Light-Welterweight", "Boxing Men's Lightweight",
       "Boxing Men's Middleweight", "Boxing Men's Super-Heavyweight",
       "Boxing Men's Welterweight", "Boxing Women's Flyweight",
       "Boxing Women's Lightweight", "Boxing Women's Middleweight",
       "Canoeing Men's Canadian Doubles, 1,000 metres",
       "Canoeing Men's Canadian Doubles, 10,000 metres",
       "Canoeing Men's Canadian Doubles, 500 metres",
       "Canoeing Men's Canadian Doubles, Slalom",
       "Canoeing Men's Canadian Singles, 1,000 metres",
       "Canoeing Men's Canadian Singles, 10,000 metres",
       "Canoeing Men's Canadian Singles, 200 metres",
       "Canoeing Men's Canadian Singles, 500 metres",
       "Canoeing Men's Canadian Singles, Slalom",
       "Canoeing Men's Folding Kayak Doubles, 10 kilometres",
       "Canoeing Men's Folding Kayak Singles, 10 kilometres",
       "Canoeing Men's Kayak Doubles, 1,000 metres",
       "Canoeing Men's Kayak Doubles, 10,000 metres",
       "Canoeing Men's Kayak Doubles, 200 metres",
       "Canoeing Men's Kayak Doubles, 500 metres",
       "Canoeing Men's Kayak Fours, 1,000 metres",
       "Canoeing Men's Kayak Relay 4 x 500 metres",
       "Canoeing Men's Kayak Singles, 1,000 metres",
       "Canoeing Men's Kayak Singles, 10,000 metres",
       "Canoeing Men's Kayak Singles, 200 metres",
       "Canoeing Men's Kayak Singles, 500 metres",
       "Canoeing Men's Kayak Singles, Slalom",
       "Canoeing Women's Kayak Doubles, 500 metres",
       "Canoeing Women's Kayak Fours, 500 metres",
       "Canoeing Women's Kayak Singles, 200 metres",
       "Canoeing Women's Kayak Singles, 500 metres",
       "Canoeing Women's Kayak Singles, Slalom", "Cricket Men's Cricket",
       'Croquet Mixed Doubles', 'Croquet Mixed Singles, One Ball',
       'Croquet Mixed Singles, Two Balls', "Cycling Men's 1 mile",
       "Cycling Men's 1,000 metres Time Trial", "Cycling Men's 1/2 mile",
       "Cycling Men's 1/3 mile", "Cycling Men's 1/4 mile",
       "Cycling Men's 10,000 metres", "Cycling Men's 100 kilometres",
       "Cycling Men's 100 kilometres Team Time Trial",
       "Cycling Men's 12-Hours Race", "Cycling Men's 2 mile",
       "Cycling Men's 20 kilometres", "Cycling Men's 25 kilometres",
       "Cycling Men's 25 mile", "Cycling Men's 333 metres Time Trial",
       "Cycling Men's 5 mile", "Cycling Men's 5,000 metres",
       "Cycling Men's 50 kilometres", "Cycling Men's BMX",
       "Cycling Men's Individual Pursuit, 4,000 metres",
       "Cycling Men's Individual Time Trial", "Cycling Men's Keirin",
       "Cycling Men's Madison",
       "Cycling Men's Mountainbike, Cross-Country",
       "Cycling Men's Omnium", "Cycling Men's Points Race",
       "Cycling Men's Road Race, Individual",
       "Cycling Men's Road Race, Team", "Cycling Men's Sprint",
       "Cycling Men's Tandem Sprint, 2,000 metres",
       "Cycling Men's Team Pursuit, 1,980 yards",
       "Cycling Men's Team Pursuit, 4,000 metres",
       "Cycling Men's Team Sprint",
       "Cycling Women's 500 metres Time Trial", "Cycling Women's BMX",
       "Cycling Women's Individual Pursuit, 3,000 metres",
       "Cycling Women's Individual Time Trial", "Cycling Women's Keirin",
       "Cycling Women's Mountainbike, Cross-Country",
       "Cycling Women's Omnium", "Cycling Women's Points Race",
       "Cycling Women's Road Race, Individual", "Cycling Women's Sprint",
       "Cycling Women's Team Pursuit", "Cycling Women's Team Sprint",
       "Diving Men's Plain High", "Diving Men's Platform",
       "Diving Men's Springboard", "Diving Men's Synchronized Platform",
       "Diving Men's Synchronized Springboard",
       "Diving Women's Plain High", "Diving Women's Platform",
       "Diving Women's Springboard",
       "Diving Women's Synchronized Platform",
       "Diving Women's Synchronized Springboard",
       "Equestrianism Men's Dressage, Individual",
       "Equestrianism Men's Dressage, Team",
       "Equestrianism Men's Jumping, Individual",
       "Equestrianism Men's Jumping, Team",
       "Equestrianism Men's Three-Day Event, Individual",
       "Equestrianism Men's Three-Day Event, Team",
       "Equestrianism Men's Vaulting, Individual",
       "Equestrianism Men's Vaulting, Team",
       'Equestrianism Mixed Dressage, Individual',
       'Equestrianism Mixed Dressage, Team',
       'Equestrianism Mixed Four-In-Hand Competition',
       'Equestrianism Mixed Hacks And Hunter Combined',
       'Equestrianism Mixed High Jump',
       'Equestrianism Mixed Jumping, Individual',
       'Equestrianism Mixed Jumping, Team',
       'Equestrianism Mixed Long Jump',
       'Equestrianism Mixed Three-Day Event, Individual',
       'Equestrianism Mixed Three-Day Event, Team',
       "Fencing Men's Foil, Individual",
       "Fencing Men's Foil, Masters, Individual",
       "Fencing Men's Foil, Team", "Fencing Men's Sabre, Individual",
       "Fencing Men's Sabre, Individual, Three Hits",
       "Fencing Men's Sabre, Masters, Individual",
       "Fencing Men's Sabre, Team",
       "Fencing Men's Single Sticks, Individual",
       "Fencing Men's epee, Individual",
       "Fencing Men's epee, Masters and Amateurs, Individual",
       "Fencing Men's epee, Masters, Individual",
       "Fencing Men's epee, Team", "Fencing Women's Foil, Individual",
       "Fencing Women's Foil, Team", "Fencing Women's Sabre, Individual",
       "Fencing Women's Sabre, Team", "Fencing Women's epee, Individual",
       "Fencing Women's epee, Team", "Figure Skating Men's Singles",
       "Figure Skating Men's Special Figures",
       'Figure Skating Mixed Pairs', "Figure Skating Women's Singles",
       "Football Men's Football", "Football Women's Football",
       "Golf Men's Individual", "Golf Men's Team",
       "Golf Women's Individual", "Gymnastics Men's Club Swinging",
       "Gymnastics Men's Floor Exercise",
       "Gymnastics Men's Horizontal Bar",
       "Gymnastics Men's Horizontal Bar, Teams",
       "Gymnastics Men's Horse Vault",
       "Gymnastics Men's Individual All-Around",
       "Gymnastics Men's Individual All-Around, 4 Events",
       "Gymnastics Men's Individual All-Around, 5 Events",
       "Gymnastics Men's Individual All-Around, Apparatus Work",
       "Gymnastics Men's Individual All-Around, Field Sports",
       "Gymnastics Men's Parallel Bars",
       "Gymnastics Men's Parallel Bars, Teams",
       "Gymnastics Men's Pommelled Horse", "Gymnastics Men's Rings",
       "Gymnastics Men's Rope Climbing", "Gymnastics Men's Side Horse",
       "Gymnastics Men's Team All-Around",
       "Gymnastics Men's Team All-Around, Free System",
       "Gymnastics Men's Team All-Around, Swedish System",
       "Gymnastics Men's Tumbling", "Gymnastics Women's Balance Beam",
       "Gymnastics Women's Floor Exercise",
       "Gymnastics Women's Horse Vault",
       "Gymnastics Women's Individual All-Around",
       "Gymnastics Women's Team All-Around",
       "Gymnastics Women's Team Portable Apparatus",
       "Gymnastics Women's Uneven Bars", "Handball Men's Handball",
       "Handball Women's Handball", "Hockey Men's Hockey",
       "Hockey Women's Hockey", "Ice Hockey Men's Ice Hockey",
       "Jeu De Paume Men's Singles", "Judo Men's Extra-Lightweight",
       "Judo Men's Half-Heavyweight", "Judo Men's Half-Lightweight",
       "Judo Men's Half-Middleweight", "Judo Men's Heavyweight",
       "Judo Men's Lightweight", "Judo Men's Middleweight",
       "Judo Men's Open Class", "Judo Women's Extra-Lightweight",
       "Judo Women's Half-Heavyweight", "Judo Women's Half-Lightweight",
       "Judo Women's Half-Middleweight", "Judo Women's Heavyweight",
       "Judo Women's Lightweight", "Judo Women's Middleweight",
       "Lacrosse Men's Lacrosse", "Modern Pentathlon Men's Individual",
       "Modern Pentathlon Men's Team",
       "Modern Pentathlon Women's Individual",
       'Motorboating Mixed A-Class (Open)',
       'Motorboating Mixed B-Class (Under 60 Feet)',
       'Motorboating Mixed C-Class', "Polo Men's Polo",
       "Racquets Men's Doubles", "Racquets Men's Singles",
       "Rhythmic Gymnastics Women's Group",
       "Rhythmic Gymnastics Women's Individual", "Roque Men's Singles",
       "Rowing Men's 17-Man Naval Rowing Boats",
       "Rowing Men's 6-Man Naval Rowing Boats",
       "Rowing Men's Coxed Eights", "Rowing Men's Coxed Fours",
       "Rowing Men's Coxed Fours, Inriggers",
       "Rowing Men's Coxed Fours, Outriggers", "Rowing Men's Coxed Pairs",
       "Rowing Men's Coxed Pairs (1 kilometres)",
       "Rowing Men's Coxed Pairs (1 mile)", "Rowing Men's Coxless Fours",
       "Rowing Men's Coxless Pairs", "Rowing Men's Double Sculls",
       "Rowing Men's Lightweight Coxless Fours",
       "Rowing Men's Lightweight Double Sculls",
       "Rowing Men's Quadruple Sculls", "Rowing Men's Single Sculls",
       "Rowing Women's Coxed Eights", "Rowing Women's Coxed Fours",
       "Rowing Women's Coxed Quadruple Sculls",
       "Rowing Women's Coxless Fours", "Rowing Women's Coxless Pairs",
       "Rowing Women's Double Sculls",
       "Rowing Women's Lightweight Double Sculls",
       "Rowing Women's Quadruple Sculls", "Rowing Women's Single Sculls",
       "Rugby Men's Rugby", "Rugby Sevens Men's Rugby Sevens",
       "Rugby Sevens Women's Rugby Sevens",
       "Sailing Men's One Person Dinghy",
       "Sailing Men's One Person Heavyweight Dinghy",
       "Sailing Men's Skiff", "Sailing Men's Two Person Dinghy",
       "Sailing Men's Two Person Keelboat", "Sailing Men's Windsurfer",
       'Sailing Mixed 0-0.5 Ton', 'Sailing Mixed 0.5-1 Ton',
       'Sailing Mixed 1-2 Ton', 'Sailing Mixed 10 metres',
       'Sailing Mixed 10-20 Ton', 'Sailing Mixed 12 foot',
       'Sailing Mixed 12 metres', 'Sailing Mixed 18 foot',
       'Sailing Mixed 2-3 Ton', 'Sailing Mixed 20+ Ton',
       'Sailing Mixed 3-10 Ton', 'Sailing Mixed 30 metres',
       'Sailing Mixed 40 metres', 'Sailing Mixed 5.5 metres',
       'Sailing Mixed 6 metres', 'Sailing Mixed 6.5 metres',
       'Sailing Mixed 7 metres', 'Sailing Mixed 8 metres',
       'Sailing Mixed Multihull', 'Sailing Mixed One Person Dinghy',
       'Sailing Mixed Open', 'Sailing Mixed Skiff',
       'Sailing Mixed Three Person Keelboat',
       'Sailing Mixed Two Person Dinghy',
       'Sailing Mixed Two Person Heavyweight Dinghy',
       'Sailing Mixed Two Person Keelboat', 'Sailing Mixed Windsurfer',
       "Sailing Women's One Person Dinghy", "Sailing Women's Skiff",
       "Sailing Women's Three Person Keelboat",
       "Sailing Women's Two Person Dinghy", "Sailing Women's Windsurfer",
       "Shooting Men's Air Pistol, 10 metres",
       "Shooting Men's Air Rifle, 10 metres",
       "Shooting Men's Double Trap",
       "Shooting Men's Dueling Pistol Au Commandement, 25 metres",
       "Shooting Men's Dueling Pistol Au Vise 20 metres",
       "Shooting Men's Dueling Pistol, 30 metres",
       "Shooting Men's Dueling Pistol, 30 metres, Team",
       "Shooting Men's Free Pistol, 25 metres",
       "Shooting Men's Free Pistol, 30 metres",
       "Shooting Men's Free Pistol, 50 metres",
       "Shooting Men's Free Pistol, 50 metres, Team",
       "Shooting Men's Free Pistol, 50 yards",
       "Shooting Men's Free Pistol, 50 yards, Team",
       "Shooting Men's Free Rifle, 1,000 Yards",
       "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team",
       "Shooting Men's Free Rifle, Any Position, 300 metres",
       "Shooting Men's Free Rifle, Kneeling, 300 metres",
       "Shooting Men's Free Rifle, Prone, 300 metres",
       "Shooting Men's Free Rifle, Prone, 600 metres",
       "Shooting Men's Free Rifle, Standing, 300 metres",
       "Shooting Men's Free Rifle, Three Positions, 300 metres",
       "Shooting Men's Free Rifle, Three Positions, 300 metres, Team",
       "Shooting Men's Military Pistol, 25 metres",
       "Shooting Men's Military Pistol, 30 metres",
       "Shooting Men's Military Pistol, Team",
       "Shooting Men's Military Revolver, 1873-1874 Gras Model, 20 metres",
       "Shooting Men's Military Revolver, 20 metres",
       "Shooting Men's Military Rifle, 1873-1874 Gras Model, Kneeling Or Standing, 200 metres",
       "Shooting Men's Military Rifle, 200 metres",
       "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team",
       "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team",
       "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team",
       "Shooting Men's Military Rifle, Any Position, 600 metres",
       "Shooting Men's Military Rifle, Kneeling Or Standing, 300 metres",
       "Shooting Men's Military Rifle, Prone, 300 metres",
       "Shooting Men's Military Rifle, Prone, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 600 metres",

Obtenha a lista de todos os países que já disputaram olimpíadas.

In [28]:
df_historico_olimpiadas_verao.groupby(by='NOC')['NOC'].value_counts().index.get_level_values(0).values

array(['AFG', 'AHO', 'ALB', 'ALG', 'AND', 'ANG', 'ANT', 'ANZ', 'ARG',
       'ARM', 'ARU', 'ASA', 'AUS', 'AUT', 'AZE', 'BAH', 'BAN', 'BAR',
       'BDI', 'BEL', 'BEN', 'BER', 'BHU', 'BIH', 'BIZ', 'BLR', 'BOH',
       'BOL', 'BOT', 'BRA', 'BRN', 'BRU', 'BUL', 'BUR', 'CAF', 'CAM',
       'CAN', 'CAY', 'CGO', 'CHA', 'CHI', 'CHN', 'CIV', 'CMR', 'COD',
       'COK', 'COL', 'COM', 'CPV', 'CRC', 'CRO', 'CRT', 'CUB', 'CYP',
       'CZE', 'DEN', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'ERI', 'ESA',
       'ESP', 'EST', 'ETH', 'EUN', 'FIJ', 'FIN', 'FRA', 'FRG', 'FSM',
       'GAB', 'GAM', 'GBR', 'GBS', 'GDR', 'GEO', 'GEQ', 'GER', 'GHA',
       'GRE', 'GRN', 'GUA', 'GUI', 'GUM', 'GUY', 'HAI', 'HKG', 'HON',
       'HUN', 'INA', 'IND', 'IOA', 'IRI', 'IRL', 'IRQ', 'ISL', 'ISR',
       'ISV', 'ITA', 'IVB', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ',
       'KIR', 'KOR', 'KOS', 'KSA', 'KUW', 'LAO', 'LAT', 'LBA', 'LBR',
       'LCA', 'LES', 'LIB', 'LIE', 'LTU', 'LUX', 'MAD', 'MAL', 'MAR',
       'MAS', 'MAW', 'MDA', 'MDV', 'MEX', 'MGL', 'MHL', 'MKD', 'MLI',
       'MLT', 'MNE', 'MON', 'MOZ', 'MRI', 'MTN', 'MYA', 'NAM', 'NBO',
       'NCA', 'NED', 'NEP', 'NFL', 'NGR', 'NIG', 'NOR', 'NRU', 'NZL',
       'OMA', 'PAK', 'PAN', 'PAR', 'PER', 'PHI', 'PLE', 'PLW', 'PNG',
       'POL', 'POR', 'PRK', 'PUR', 'QAT', 'RHO', 'ROT', 'ROU', 'RSA',
       'RUS', 'RWA', 'SAA', 'SAM', 'SCG', 'SEN', 'SEY', 'SGP', 'SKN',
       'SLE', 'SLO', 'SMR', 'SOL', 'SOM', 'SRB', 'SRI', 'SSD', 'STP',
       'SUD', 'SUI', 'SUR', 'SVK', 'SWE', 'SWZ', 'SYR', 'TAN', 'TCH',
       'TGA', 'THA', 'TJK', 'TKM', 'TLS', 'TOG', 'TPE', 'TTO', 'TUN',
       'TUR', 'TUV', 'UAE', 'UAR', 'UGA', 'UKR', 'UNK', 'URS', 'URU',
       'USA', 'UZB', 'VAN', 'VEN', 'VIE', 'VIN', 'VNM', 'WIF', 'YAR',
       'YEM', 'YMD', 'YUG', 'ZAM', 'ZIM'], dtype=object)

Qual atleta foi o maior medalhista (em medalhas totais) da história das olimpíadas de verão?

In [29]:
qtde_medalhas_pessoa = df_historico_olimpiadas_verao[~ pd.isna(df_historico_olimpiadas_verao)].groupby(by='Name')['Medal'].value_counts().groupby(by='Name').sum()
mais_medalhas_mundo = qtde_medalhas_pessoa[qtde_medalhas_pessoa == qtde_medalhas_pessoa.max()]
mais_medalhas_mundo

Name
Michael Fred Phelps, II    28
Name: Medal, dtype: int64

Qual atleta foi o maior medalhista de ouro da história das olimpíadas de verão?

In [30]:
qtde_medalhas_pessoa_ouro = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Medal']=='Gold'].groupby(by='Name')['Medal'].value_counts().groupby(by='Name').sum()
mais_ouro_mundo = qtde_medalhas_pessoa_ouro[qtde_medalhas_pessoa_ouro == qtde_medalhas_pessoa_ouro.max()]
mais_ouro_mundo

Name
Michael Fred Phelps, II    23
Name: Medal, dtype: int64

Qual país foi o maior medalhista de ouro da história das olimpíadas de verão? Lembre-se da questão do evento esportivo, para não considerar múltiplas medalhas para um mesmo evento (ex: uma equipe de futebol fazendo parecer que mais de 20 medalhas foram distribuídas).

In [31]:
um_medalhista_p_evento_ouro_geral = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Medal']=='Gold'].drop_duplicates(subset=['Year', 'Event'])
esportes_medalhas_ouro_geral = um_medalhista_p_evento_ouro_geral.groupby(by='NOC')['Medal'].value_counts()
esporte_mais_medalhas_ouro_geral = esportes_medalhas_ouro_geral[esportes_medalhas_ouro_geral == esportes_medalhas_ouro_geral.max()]
esporte_mais_medalhas_ouro_geral

NOC  Medal
USA  Gold     1028
Name: Medal, dtype: int64

Qual país foi o maior medalhista em medalhas totais na história das olimpíadas de verão?

In [32]:
um_medalhista_p_evento_geral = df_historico_olimpiadas_verao[~ pd.isna(df_historico_olimpiadas_verao['Medal'])].drop_duplicates(subset=['Year', 'Event', 'Medal'])
esportes_medalhas_total_geral = um_medalhista_p_evento_geral.groupby(by='NOC')['Medal'].value_counts().groupby(by='NOC').sum()
esporte_mais_medalhas_total_geral = esportes_medalhas_total_geral[esportes_medalhas_total_geral == esportes_medalhas_total_geral.max()]
esporte_mais_medalhas_total_geral

NOC
USA    2502
Name: Medal, dtype: int64

Obtenha o total de medalhas de ouro, prata e total por edição das Olimpíadas de verão. Lembre-se da questão do evento esportivo.

<font color='blue'>Total de medalhas de bronze, prata e ouro por ano

In [33]:
total_medalhas_tipo_ano = um_medalhista_p_evento_geral.groupby(by='Year')['Medal'].value_counts()
total_medalhas_tipo_ano

Year  Medal
1896  Gold       43
      Silver     41
      Bronze     32
1900  Gold       89
      Silver     86
               ...
2012  Silver    302
      Bronze    300
2016  Gold      306
      Bronze    305
      Silver    304
Name: Medal, Length: 87, dtype: int64

<font color='blue'>Total de medalhas por ano

In [34]:
total_medalhas_ano = um_medalhista_p_evento_geral.groupby(by='Year')['Medal'].value_counts().groupby(by='Year').sum()
total_medalhas_ano

Year
1896    116
1900    255
1904    275
1906    219
1908    309
1912    309
1920    443
1924    387
1928    355
1932    370
1936    420
1948    435
1952    444
1956    448
1960    447
1964    486
1968    514
1972    575
1976    593
1980    606
1984    657
1988    707
1992    764
1996    811
2000    897
2004    901
2008    905
2012    904
2016    915
Name: Medal, dtype: int64

<font color='blue'>A quantidade de medalhas nos Jogos Olímpicos vem crescendo com o passar das edições. Acredito que isso aconteça devido a inclusão de novas modalidades e esportes

## 3. Brasil vs Mundo

In [35]:
pd.options.display.float_format = "{:,.2f}".format

Para finalizar, vamos fazer algumas comparações entre Brasil e mundo. Qual o ranking do Brasil em cada edição das olimpíadas? Lembrando que o ranking é ordenado por medalhas de ouro.

<font color='blue'>O index 'Rank' na tabela abaixo mostra a posição do Brasil em cada edição

In [36]:
medalhas_paises_ano = pd.DataFrame(um_medalhista_p_evento_geral.groupby(by=['Year','NOC'])['Medal'].value_counts())
x = medalhas_paises_ano.rename(columns={"Medal": "Quantidade"})
x = x.pivot_table(index=['Year','NOC'],columns='Medal',values='Quantidade')
x = x[['Gold','Silver','Bronze']]
x[pd.isna(x)] = 0
x = x.sort_values(by=['Year','Gold','Silver','Bronze'], ascending=False, na_position='last')
x['Rank'] = x.groupby(by='Year').cumcount() + 1
x = x.set_index('Rank', append=True)
x[np.in1d(x.index.get_level_values(1), ['BRA'])].sort_values(by='Year')

Medal          Gold  Silver  Bronze
Year NOC Rank
1920 BRA 15    1.00    1.00    1.00
1948 BRA 34    0.00    0.00    1.00
1952 BRA 24    1.00    0.00    2.00
1956 BRA 24    1.00    0.00    0.00
1960 BRA 39    0.00    0.00    2.00
1964 BRA 35    0.00    0.00    1.00
1968 BRA 35    0.00    1.00    2.00
1972 BRA 42    0.00    0.00    1.00
1976 BRA 36    0.00    0.00    2.00
1980 BRA 17    2.00    0.00    2.00
1984 BRA 19    1.00    5.00    1.00
1988 BRA 24    1.00    2.00    3.00
1992 BRA 25    2.00    1.00    0.00
1996 BRA 25    3.00    3.00    9.00
2000 BRA 53    0.00    6.00    6.00
2004 BRA 16    5.00    2.00    3.00
2008 BRA 23    3.00    4.00    8.00
2012 BRA 22    3.00    5.00    9.00
2016 BRA 13    7.00    6.00    5.00

Compare o maior medalhista em ouros do Brasil com o maior medalhista em ouros do mundo.

<font color='blue'>Essa e todas as outras questões de comparação onde o 'maior' é uma lista de pessoas, ou lista de esportes, a comparação foi feita utilizando a média dessas listas. Nesse primeiro caso, os maiores medalhistas brasileiros são uma lista de 13 pessoas. A média dessa lista será comparada com o maior medalhista mundial

**<font color='blue'>Maiores medalhistas ouro brasileiros**

In [37]:
#dataframe filtrado apenas com os maiores medalhistas ouro
mais_medalhas_ouro_brasil = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(mais_ouro_brasil.index)]

#dataframe com a quantidade de medalhas de cada um dos maiores medalhistas ouro
qtde_medalhas_MMOB = pd.DataFrame(mais_medalhas_ouro_brasil.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMOB = qtde_medalhas_MMOB.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
qtde_medalhas_MMOB['Silver'][pd.isna(qtde_medalhas_MMOB['Silver'])] = 0
qtde_medalhas_MMOB['Bronze'][pd.isna(qtde_medalhas_MMOB['Bronze'])] = 0
qtde_medalhas_MMOB['Total'] = qtde_medalhas_MMOB['Gold']+qtde_medalhas_MMOB['Silver']+qtde_medalhas_MMOB['Bronze']
qtde_medalhas_MMOB = qtde_medalhas_MMOB[['Gold','Silver','Bronze','Total']]

#dataframe com outras informacoes relevantes
outras_infos = mais_medalhas_ouro_brasil.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maiores_medalhistas_ouro_brasil = pd.concat([qtde_medalhas_MMOB,outras_infos], axis=1)
maiores_medalhistas_ouro_brasil['Medals/Participações'] = maiores_medalhistas_ouro_brasil['Total']/maiores_medalhistas_ouro_brasil['Participações']*100
display1 = maiores_medalhistas_ouro_brasil.copy()
display1[['Gold','Silver','Bronze','Total','Height','Weight']] = display1[['Gold','Silver','Bronze','Total','Height','Weight']].applymap('{:,.0f}'.format)
display1['Idade média nas edições'] = display1['Idade média nas edições'].apply('{:,.2f}'.format)
display1['Medals/Participações'] = display1['Medals/Participações'].apply('{:,.2f}%'.format)
display1.style.set_properties(**{'text-align': 'center'})

**<font color='blue'>Maior medalhista ouro mundial**

In [39]:
#mesmo processo para o maior medalhista ouro do mundo

mais_medalhas_ouro_mundo = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(mais_ouro_mundo.index)]


#dataframe com a quantidade de medalhas do maior medalhista ouro
qtde_medalhas_MMOM = pd.DataFrame(mais_medalhas_ouro_mundo.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMOM = qtde_medalhas_MMOM.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
qtde_medalhas_MMOM['Silver'][pd.isna(qtde_medalhas_MMOM['Silver'])] = 0
qtde_medalhas_MMOM['Bronze'][pd.isna(qtde_medalhas_MMOM['Bronze'])] = 0
qtde_medalhas_MMOM['Total'] = qtde_medalhas_MMOM['Gold']+qtde_medalhas_MMOM['Silver']+qtde_medalhas_MMOM['Bronze']
qtde_medalhas_MMOM = qtde_medalhas_MMOM[['Gold','Silver','Bronze','Total']]


#dataframe com outras informacoes relevantes
outras_infos_MP = mais_medalhas_ouro_mundo.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos_MP.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maior_medalhista_ouro_mundo = pd.concat([qtde_medalhas_MMOM,outras_infos_MP], axis=1)
maior_medalhista_ouro_mundo['Medals/Participações'] = maior_medalhista_ouro_mundo['Total']/maior_medalhista_ouro_mundo['Participações']*100
display2 = maior_medalhista_ouro_mundo.copy()
display2[['Gold','Silver','Bronze','Total','Height','Weight']] = display2[['Gold','Silver','Bronze','Total','Height','Weight']].applymap('{:,.0f}'.format)
display2['Idade média nas edições'] = display2['Idade média nas edições'].apply('{:,.2f}'.format)
display2['Medals/Participações'] = display2['Medals/Participações'].apply('{:,.2f}%'.format)
display2.style.set_properties(**{'text-align': 'center'})

**<font color='blue'>Comparação entre os maiores medalhistas ouro brasileiros e o maior medalhista ouro mundial**  
<font color='blue'> A comparação é feita a partir das médias das caracteristicas dos medalhistas ouro brasileiros com o medalhista ouro mundial.


- Idade: é feito a média de idade do atleta quando este participou de mais de uma edição e em seguida é feito a média de idade entre os atletas;
- Participações: média da quantidade de eventos olimpícos em que os atletas brasileiros participaram

In [40]:
comparacoes = ['Gold','Silver','Bronze','Total','Idade média nas edições','Height','Weight','Participações']
colunas = [comparacoes, ['Mundo','Brasil', 'Diferença']]
cols = pd.MultiIndex.from_product(colunas)

comparacao = pd.DataFrame(columns=cols)
for i in comparacoes:   
    comparacao[i,'Brasil'] = maiores_medalhistas_ouro_brasil[i]
    comparacao[i,'Mundo'] = maiores_medalhistas_ouro_brasil[i].apply(lambda x:maior_medalhista_ouro_mundo[i])
    comparacao[i,'Diferença'] = maiores_medalhistas_ouro_brasil[i].apply(lambda x:maior_medalhista_ouro_mundo[i]-x)
    
comparacao.loc['Média'] = comparacao.mean()
comparacao = pd.DataFrame(comparacao.loc['Média'])
comparacao.index.names = ['Características','Comparação']
comparacao = comparacao.pivot_table(index='Características', columns='Comparação', values='Média')[['Mundo','Brasil','Diferença']]

#Média ponderada pela quantidade de participações da porcentagem de medalhas em relação à quantidade de participações
comparacao.loc['Medals/Participações'] = comparacao.loc['Total']/comparacao.loc['Participações']*100
comparacao['Diferença'].loc['Medals/Participações'] = comparacao['Mundo'].loc['Medals/Participações'] - comparacao['Brasil'].loc['Medals/Participações']

#formatação
comparacao.loc['Medals/Participações'] = comparacao.loc['Medals/Participações'].apply('{:,.2f}%'.format)
comparacao.loc[['Gold','Silver','Bronze','Total','Participações','Medals/Participações','Height','Weight','Idade média nas edições']]

Comparação                Mundo  Brasil Diferença
Características
Gold                      23.00    2.00     21.00
Silver                     3.00    0.38      2.62
Bronze                     2.00    0.31      1.69
Total                     28.00    2.69     25.31
Participações             30.00    3.85     26.15
Medals/Participações     93.33%  70.00%    23.33%
Height                   193.00  185.31      7.69
Weight                    91.00   77.38     13.62
Idade média nas edições   24.20   29.18     -4.98

<font color='blue'>
    
- O maior medalhista em ouros do mundo possui 21 medalhas de ouro a mais do que os maiores medalhistas ouro do Brasil;
- No total de medalhas, o maior medalhista mundial possui em média 25,31 mais medalhas do que os maiores medalhistas ouro do Brasil;
- Porém a quantidade de participações em jogos olímpicos também é muito maior: o recordista mundial participou de 26,15 jogos olímpicos a mais que a média de participação dos maiores medalhistas brasileiros;
- A relação entre total de medalhas e participação nos jogos também é maior para o campeão mundial, ele ganhou medalha em 93,33% das competições que participou, já os brasileiros ganharam medalha em média em 70% das participações.
- O Michael Phelps é 7,69cm mais alto, 13,62Kg mais pesado e e compepetiu em média 5 anos mais novo que a média dos atletas brasileiros.

Talvez a diferença de peso e altura esteja razoavelmente alta por haver mulheres no cálculo da média dos medalhistas brasileiros. Portanto as próximas comparações foram divididas por sexo para analisar essas duas medidas.

**<font color='blue'>Comparação por sexo**

In [41]:
comparacoes = ['Gold', 'Silver', 'Bronze', 'Total', 'Idade média nas edições', 'Height', 'Weight', 'Participações']
colunas_fem = [comparacoes, ['Mundo', 'Feminino', 'Dif Fem']]
colunas_masc = [comparacoes, ['Masculino', 'Dif Masc']]

cols_fem = pd.MultiIndex.from_product(colunas_fem)
cols_masc = pd.MultiIndex.from_product(colunas_masc)
                
maiores_medalhistas_ouro_brasil_fem = maiores_medalhistas_ouro_brasil[maiores_medalhistas_ouro_brasil['Sex'] == 'F']
maiores_medalhistas_ouro_brasil_masc = maiores_medalhistas_ouro_brasil[maiores_medalhistas_ouro_brasil['Sex'] == 'M']

comparacao_fem = pd.DataFrame(columns=cols_fem)
comparacao_masc = pd.DataFrame(columns=cols_masc)

for i in comparacoes:
    comparacao_fem[i, 'Feminino']= maiores_medalhistas_ouro_brasil_fem[i]
    comparacao_fem[i, 'Mundo']= maiores_medalhistas_ouro_brasil_fem[i].apply(lambda x:maior_medalhista_ouro_mundo[i])
    comparacao_fem[i, 'Dif Fem']=maiores_medalhistas_ouro_brasil_fem[i].apply(lambda x:maior_medalhista_ouro_mundo[i]-x)

    comparacao_masc[i, 'Masculino']=maiores_medalhistas_ouro_brasil_masc[i]
    comparacao_masc[i, 'Dif Masc']=maiores_medalhistas_ouro_brasil_masc[i].apply(lambda x:maior_medalhista_ouro_mundo[i]-x)

comparacao_fem = pd.DataFrame(comparacao_fem.mean())
comparacao_fem.rename(columns={0:'valores'},inplace=True)
comparacao_fem.index.names = ['Medidas','Média']
comparacao_fem = comparacao_fem.pivot_table(index='Medidas', columns='Média', values='valores')[['Mundo','Feminino','Dif Fem']]

comparacao_masc = pd.DataFrame(comparacao_masc.mean())
comparacao_masc.rename(columns={0:'valores'},inplace=True)
comparacao_masc.index.names = ['Medidas','Média']
comparacao_masc = comparacao_masc.pivot_table(index='Medidas', columns='Média', values='valores')[['Masculino','Dif Masc']]

# concatenar
comparacao_sexo = pd.concat([comparacao_fem, comparacao_masc], axis=1)

# Média ponderada pela quantidade de participações da porcentagem de medalhas em relação à quantidade de participações
comparacao_sexo.loc['Medals/Participações'] = comparacao_sexo.loc['Total']/comparacao_sexo.loc['Participações']*100
comparacao_sexo['Dif Fem'].loc['Medals/Participações'] = comparacao_sexo['Mundo'].loc['Medals/Participações'] - comparacao_sexo['Feminino'].loc['Medals/Participações']
comparacao_sexo['Dif Masc'].loc['Medals/Participações'] = comparacao_sexo['Mundo'].loc['Medals/Participações'] - comparacao_sexo['Masculino'].loc['Medals/Participações']

# formatação
comparacao_sexo.loc['Medals/Participações'] = comparacao_sexo.loc['Medals/Participações'].apply('{:,.2f}%'.format)
comparacao_sexo = comparacao_sexo.loc[['Gold','Silver','Bronze','Total','Participações','Medals/Participações','Height','Weight','Idade média nas edições']]
comparacao_sexo = comparacao_sexo[['Mundo','Feminino','Masculino','Dif Fem','Dif Masc']]

comparacao_sexo

Média                     Mundo Feminino Masculino Dif Fem Dif Masc
Medidas
Gold                      23.00     2.00      2.00   21.00    21.00
Silver                     3.00     0.00      0.71    3.00     2.29
Bronze                     2.00     0.00      0.57    2.00     1.43
Total                     28.00     2.00      3.29   26.00    24.71
Participações             30.00     2.83      4.71   27.17    25.29
Medals/Participações     93.33%   70.59%    69.70%  22.75%   23.64%
Height                   193.00   185.50    185.14    7.50     7.86
Weight                    91.00    70.00     83.71   21.00     7.29
Idade média nas edições   24.20    27.50     30.62   -3.30    -6.42

<font color='blue'>Percebe-se pela tabela que a diferença no total de medalhas dos homens é menor que a diferença para as mulheres, ou seja, em média os homens ganharam mais medalhas do que as mulheres. Porém os medalhistas homens brasileiros em média participaram de mais eventos esportivos que as mulheres. Ao analisar a relação entre medalhas e participações, percebe-se que as mulheres ganham em média mais medalhas por participação nas Olimpíadas. Já o maior medalhista mundial ganhou alguma medalha em 93,33% das vezes em que participou de uma disputa.

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista em total de medalhas do mundo.

In [42]:
mais_medalhas_brasil = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(brasileiros_mais_medalhas.index)]

#dataframe com a quantidade de medalhas de cada um dos maiores medalhistas ouro
qtde_medalhas_MMB = pd.DataFrame(mais_medalhas_brasil.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMB = qtde_medalhas_MMB.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
qtde_medalhas_MMB['Silver'][pd.isna(qtde_medalhas_MMB['Silver'])] = 0
qtde_medalhas_MMB['Bronze'][pd.isna(qtde_medalhas_MMB['Bronze'])] = 0
qtde_medalhas_MMB['Total'] = qtde_medalhas_MMB['Gold']+qtde_medalhas_MMB['Silver']+qtde_medalhas_MMB['Bronze']
qtde_medalhas_MMB = qtde_medalhas_MMB[['Gold','Silver','Bronze','Total']]

#dataframe com outras informacoes relevantes
outras_infos = mais_medalhas_brasil.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maiores_medalhistas_brasil = pd.concat([qtde_medalhas_MMB,outras_infos], axis=1)
maiores_medalhistas_brasil['Medals/Participações'] = maiores_medalhistas_brasil['Total']/maiores_medalhistas_brasil['Participações']*100

display3 = maiores_medalhistas_brasil.copy()
display3[['Gold','Silver','Bronze','Total','Height','Weight']] = display3[['Gold','Silver','Bronze','Total','Height','Weight']].applymap('{:,.0f}'.format)
display3['Idade média nas edições'] = display3['Idade média nas edições'].apply('{:,.2f}'.format)
display3['Medals/Participações'] = display3['Medals/Participações'].apply('{:,.2f}%'.format)
display3.style.set_properties(**{'text-align': 'center'})

In [43]:
maior_medalhista_mundo = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(mais_medalhas_mundo.index)]
maior_medalhista_mundo = maior_medalhista_ouro_mundo
display2.style.set_properties(**{'text-align': 'center'})

In [44]:
comparacao = pd.DataFrame(columns=cols)
for i in comparacoes:   
    comparacao[i,'Brasil'] = maiores_medalhistas_brasil[i]
    comparacao[i,'Mundo'] = maiores_medalhistas_brasil[i].apply(lambda x:maior_medalhista_mundo[i])
    comparacao[i,'Diferença'] = maiores_medalhistas_brasil[i].apply(lambda x:maior_medalhista_mundo[i]-x)
    
comparacao.loc['Média'] = comparacao.mean()
comparacao = pd.DataFrame(comparacao.loc['Média'])
comparacao.index.names = ['Características','Comparação']
comparacao = comparacao.pivot_table(index='Características', columns='Comparação', values='Média')[['Mundo','Brasil','Diferença']]

#Média ponderada pela quantidade de participações da porcentagem de medalhas em relação à quantidade de participações
comparacao.loc['Medals/Participações'] = comparacao.loc['Total']/comparacao.loc['Participações']*100
comparacao['Diferença'].loc['Medals/Participações'] = comparacao['Mundo'].loc['Medals/Participações'] - comparacao['Brasil'].loc['Medals/Participações']

#formatação
comparacao.loc['Medals/Participações'] = comparacao.loc['Medals/Participações'].apply('{:,.2f}%'.format)
comparacao.loc[['Gold','Silver','Bronze','Total','Participações','Medals/Participações','Height','Weight','Idade média nas edições']]

Comparação                Mundo  Brasil Diferença
Características
Gold                      23.00    2.00     21.00
Silver                     3.00    1.50      1.50
Bronze                     2.00    1.50      0.50
Total                     28.00    5.00     23.00
Participações             30.00    6.00     24.00
Medals/Participações     93.33%  83.33%    10.00%
Height                   193.00  186.50      6.50
Weight                    91.00   82.00      9.00
Idade média nas edições   24.20   33.42     -9.22

Compare o maior medalhista em ouros do Brasil com o maior medalhista do mundo no mesmo esporte.

<font color='blue'>Como existem 13 atletas empatados como os maiores medalhistas ouro, utilizarei o esporte que possui a maior quantidade de atletas entre os maiores medalhistas ouro do Brasil

In [45]:
esporte_mais_medalhistas_ouro_br = mais_medalhas_ouro_brasil.groupby(by=['Sport'])['Name'].nunique()
esporte_mais_medalhistas_ouro_br = esporte_mais_medalhistas_ouro_br[esporte_mais_medalhistas_ouro_br == esporte_mais_medalhistas_ouro_br.max()].index
esporte_mais_medalhistas_ouro_br.values[0]

'Volleyball'

In [46]:
maior_mundo_mais_ouro_br = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Sport'] == esporte_mais_medalhistas_ouro_br.values[0]]
maior_mundo_mais_ouro_br = maior_mundo_mais_ouro_br[maior_mundo_mais_ouro_br['Medal']=='Gold']
maior_mundo_mais_ouro_br = maior_mundo_mais_ouro_br.groupby(by=['Name'])['Medal'].count()
mais_medalhas_mundo_mais_ouro_br = maior_mundo_mais_ouro_br[maior_mundo_mais_ouro_br == maior_mundo_mais_ouro_br.max()]
mais_medalhas_mundo_mais_ouro_br

Name
Alejandrina Mireya Luis Hernndez    3
Marlenis Costa Blanco               3
Regla Maritza Bell McKenzie         3
Regla Radameris Torres Herrera      3
Name: Medal, dtype: int64

<font color='blue'>Como existem 4 atletas com a mesma quantidade de ouros no esporte com mais ouros do Brasil, a comparação será a partir da média dessas 4 atletas com a média dos maiores medalhistas ouro brasileiros do volei

In [47]:
mais_medalhas_br_esporte_mais_ouro = mais_medalhas_ouro_brasil[mais_medalhas_ouro_brasil['Sport']==esporte_mais_medalhistas_ouro_br.values[0]]

#dataframe com a quantidade de medalhas de cada um dos maiores medalhistas ouro
qtde_medalhas_MMBEO = pd.DataFrame(mais_medalhas_br_esporte_mais_ouro.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMBEO = qtde_medalhas_MMBEO.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
qtde_medalhas_MMBEO['Silver'][pd.isna(qtde_medalhas_MMBEO['Silver'])] = 0
qtde_medalhas_MMBEO['Total'] = qtde_medalhas_MMBEO['Gold']+qtde_medalhas_MMBEO['Silver']
qtde_medalhas_MMBEO = qtde_medalhas_MMBEO[['Gold','Silver','Total']]
qtde_medalhas_MMBEO

#dataframe com outras informacoes relevantes
outras_infos = mais_medalhas_br_esporte_mais_ouro.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maiores_medalhistas_br_esporte_mais_ouro = pd.concat([qtde_medalhas_MMBEO,outras_infos], axis=1)
maiores_medalhistas_br_esporte_mais_ouro['Medals/Participações'] = maiores_medalhistas_br_esporte_mais_ouro['Total']/maiores_medalhistas_br_esporte_mais_ouro['Participações']*100
display4 = maiores_medalhistas_br_esporte_mais_ouro.copy()
display4[['Gold','Silver','Total','Height','Weight']] = display4[['Gold','Silver','Total','Height','Weight']].applymap('{:,.0f}'.format)
display4['Idade média nas edições'] = display4['Idade média nas edições'].apply('{:,.2f}'.format)
display4['Medals/Participações'] = display4['Medals/Participações'].apply('{:,.2f}%'.format)
display4.style.set_properties(**{'text-align': 'center'})

In [48]:
mais_medalhas_mundo_esporte_mais_ouro = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(mais_medalhas_mundo_mais_ouro_br.index)]

#dataframe com a quantidade de medalhas de cada um dos maiores medalhistas ouro
qtde_medalhas_MMMEO = pd.DataFrame(mais_medalhas_mundo_esporte_mais_ouro.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMMEO = qtde_medalhas_MMMEO.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
qtde_medalhas_MMMEO['Silver'] = 0
qtde_medalhas_MMMEO['Total'] = qtde_medalhas_MMMEO['Gold']
qtde_medalhas_MMMEO = qtde_medalhas_MMMEO[['Gold','Silver','Total']]
qtde_medalhas_MMMEO

#dataframe com outras informacoes relevantes
outras_infos = mais_medalhas_mundo_esporte_mais_ouro.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maiores_medalhistas_mundo_esporte_mais_ouro = pd.concat([qtde_medalhas_MMMEO,outras_infos], axis=1)
maiores_medalhistas_mundo_esporte_mais_ouro['Medals/Participações'] = maiores_medalhistas_mundo_esporte_mais_ouro['Total']/maiores_medalhistas_mundo_esporte_mais_ouro['Participações']*100
maiores_medalhistas_mundo_esporte_mais_ouro.loc['Média'] = maiores_medalhistas_mundo_esporte_mais_ouro.mean()
display5 = maiores_medalhistas_mundo_esporte_mais_ouro.copy()
display5[['Gold','Silver','Total','Height','Weight']] = display5[['Gold','Silver','Total','Height','Weight']].applymap('{:,.0f}'.format)
display5['Idade média nas edições'] = display5['Idade média nas edições'].apply('{:,.2f}'.format)
display5['Medals/Participações'] = display5['Medals/Participações'].apply('{:,.2f}%'.format)
display5.style.set_properties(**{'text-align': 'center'})

In [50]:
comparacoes = ['Gold','Silver','Total','Idade média nas edições','Height','Weight','Participações']
colunas = [comparacoes, ['Mundo','Brasil', 'Diferença']]
cols = pd.MultiIndex.from_product(colunas)
comparacao = pd.DataFrame(columns=cols)
for i in comparacoes:   
    comparacao[i,'Brasil'] = maiores_medalhistas_br_esporte_mais_ouro[i]
    comparacao[i,'Mundo'] = maiores_medalhistas_br_esporte_mais_ouro[i].apply(lambda x:maiores_medalhistas_mundo_esporte_mais_ouro[i].loc['Média'])
    comparacao[i,'Diferença'] = maiores_medalhistas_br_esporte_mais_ouro[i].apply(lambda x:maiores_medalhistas_mundo_esporte_mais_ouro[i].loc['Média']-x)

comparacao    
comparacao.loc['Média'] = comparacao.mean()
comparacao = pd.DataFrame(comparacao.loc['Média'])

comparacao.index.names = ['Características','Comparação']
comparacao = comparacao.pivot_table(index='Características', columns='Comparação', values='Média')[['Mundo','Brasil','Diferença']]
comparacao

# #Média ponderada pela quantidade de participações da porcentagem de medalhas em relação à quantidade de participações
comparacao.loc['Medals/Participações'] = comparacao.loc['Total']/comparacao.loc['Participações']*100
comparacao['Diferença'].loc['Medals/Participações'] = comparacao['Mundo'].loc['Medals/Participações'] - comparacao['Brasil'].loc['Medals/Participações']

# #formatação
comparacao.loc['Medals/Participações'] = comparacao.loc['Medals/Participações'].apply('{:,.2f}%'.format)
comparacao.loc[['Gold','Silver','Total','Participações','Medals/Participações','Height','Weight','Idade média nas edições']]

Comparação                 Mundo  Brasil Diferença
Características
Gold                        3.00    2.00      1.00
Silver                      0.00    0.22     -0.22
Total                       3.00    2.22      0.78
Participações               3.00    3.33     -0.33
Medals/Participações     100.00%  66.67%    33.33%
Height                    181.00  186.33     -5.33
Weight                     73.75   74.33     -0.58
Idade média nas edições    24.42   28.25     -3.83

Compare o maior medalhista em total de medalhas do Brasil com o maior medalhista do mundo no mesmo esporte.

<font color='blue'>Mesmo raciocínio da pergunta anterior

In [51]:
esporte_mais_medalhistas_br = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(brasileiros_mais_medalhas.index)].groupby(by='Sport')['Name'].nunique()
esporte_mais_medalhistas_br = esporte_mais_medalhistas_br[esporte_mais_medalhistas_br == esporte_mais_medalhistas_br.max()].index
esporte_mais_medalhistas_br.values[0]

'Sailing'

<font color='blue'>O maior medalhista mundial do esporte dos maiores medalhistas brasileiros

In [54]:
maiores_mundo_mais_medalhas_br = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Sport'] == esporte_mais_medalhistas_br.values[0]]
maiores_mundo_mais_medalhas_br = pd.DataFrame(maiores_mundo_mais_medalhas_br.groupby(by=['Name','Medal']).Medal.count())
maiores_mundo_mais_medalhas_br = maiores_mundo_mais_medalhas_br.rename(columns={'Medal':'Qtdade'})
maiores_mundo_mais_medalhas_br = maiores_mundo_mais_medalhas_br.pivot_table(index='Name', columns='Medal', values='Qtdade')
maiores_mundo_mais_medalhas_br[pd.isna(maiores_mundo_mais_medalhas_br)] = 0
maiores_mundo_mais_medalhas_br['Total'] = maiores_mundo_mais_medalhas_br['Gold']+maiores_mundo_mais_medalhas_br['Silver']+maiores_mundo_mais_medalhas_br['Bronze']
maiores_mundo_mais_medalhas_br = maiores_mundo_mais_medalhas_br[['Total','Gold','Silver','Bronze']] 
maiores_mundo_mais_medalhas_br = maiores_mundo_mais_medalhas_br.sort_values(by=['Total','Gold','Silver','Bronze'], ascending=False)
maiores_mundo_mais_medalhas_br.index[0]

'Charles Benedict "Ben" Ainslie'

<font color='blue'>Maiores medalhistas brasileiros são do mesmo esporte: Sailing

In [55]:
mais_medalhas_br_esporte_mais_medalhas_br = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name'].isin(brasileiros_mais_medalhas.index)]
mais_medalhas_br_esporte_mais_medalhas_br
# #dataframe com a quantidade de medalhas de cada um dos maiores medalhistas ouro
qtde_medalhas_MMBEM = pd.DataFrame(mais_medalhas_br_esporte_mais_medalhas_br.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMBEM = qtde_medalhas_MMBEM.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
#qtde_medalhas_MMBEM['Silver'][pd.isna(qtde_medalhas_MMBEM['Silver'])] = 0
qtde_medalhas_MMBEM['Total'] = qtde_medalhas_MMBEM['Gold']+qtde_medalhas_MMBEM['Silver']++qtde_medalhas_MMBEM['Bronze']
qtde_medalhas_MMBEM = qtde_medalhas_MMBEM[['Gold','Silver','Bronze','Total']]
qtde_medalhas_MMBEM

#dataframe com outras informacoes relevantes
outras_infos = mais_medalhas_br_esporte_mais_medalhas_br.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maiores_medalhistas_br_esporte_mais_medalhas_br = pd.concat([qtde_medalhas_MMBEM,outras_infos], axis=1)
maiores_medalhistas_br_esporte_mais_medalhas_br['Medals/Participações'] = maiores_medalhistas_br_esporte_mais_medalhas_br['Total']/maiores_medalhistas_br_esporte_mais_medalhas_br['Participações']*100
display4 = maiores_medalhistas_br_esporte_mais_medalhas_br.copy()
display4[['Gold','Silver','Bronze','Total','Height','Weight']] = display4[['Gold','Silver','Bronze','Total','Height','Weight']].applymap('{:,.0f}'.format)
display4['Idade média nas edições'] = display4['Idade média nas edições'].apply('{:,.2f}'.format)
display4['Medals/Participações'] = display4['Medals/Participações'].apply('{:,.2f}%'.format)
display4.style.set_properties(**{'text-align': 'center'})

In [57]:
mais_medalhas_mundo_esporte_mais_medalhas_br = df_historico_olimpiadas_verao[df_historico_olimpiadas_verao['Name']==maiores_mundo_mais_medalhas_br.index[0]]

# #dataframe com a quantidade de medalhas de cada um dos maiores medalhistas ouro
qtde_medalhas_MMMEM = pd.DataFrame(mais_medalhas_mundo_esporte_mais_medalhas_br.groupby(by=['Name','Medal']).Medal.count()).rename(columns={'Medal':'Qtdade'})
qtde_medalhas_MMMEM = qtde_medalhas_MMMEM.pivot_table(index=['Name'], columns='Medal', values='Qtdade')
qtde_medalhas_MMMEM['Bronze'] = 0
qtde_medalhas_MMMEM['Total'] = qtde_medalhas_MMMEM['Gold'] + qtde_medalhas_MMMEM['Silver'] + qtde_medalhas_MMMEM['Bronze']
qtde_medalhas_MMMEM = qtde_medalhas_MMMEM[['Gold','Silver','Bronze','Total']]
qtde_medalhas_MMMEM

#dataframe com outras informacoes relevantes
outras_infos = mais_medalhas_mundo_esporte_mais_medalhas_br.groupby(by=['Name']).agg({'Sex':pd.Series.mode,'Age':'mean','Height':'mean','Weight':'mean','Event':'count'})
outras_infos.rename(columns={'Age':'Idade média nas edições','Event':'Participações'}, inplace=True)

#concatenar quantidade de medalhas com outras infos
maiores_medalhistas_mundo_esporte_mais_medalhas_br = pd.concat([qtde_medalhas_MMMEM,outras_infos], axis=1)
maiores_medalhistas_mundo_esporte_mais_medalhas_br['Medals/Participações'] = maiores_medalhistas_mundo_esporte_mais_medalhas_br['Total']/maiores_medalhistas_mundo_esporte_mais_medalhas_br['Participações']*100
#maiores_medalhistas_mundo_esporte_mais_medalhas_br.loc['Média'] = maiores_medalhistas_mundo_esporte_mais_medalhas_br.mean()
display6 = maiores_medalhistas_mundo_esporte_mais_medalhas_br.copy()
display6[['Gold','Silver','Bronze','Total','Height','Weight']] = display6[['Gold','Silver','Bronze','Total','Height','Weight']].applymap('{:,.0f}'.format)
display6['Idade média nas edições'] = display6['Idade média nas edições'].apply('{:,.2f}'.format)
display6['Medals/Participações'] = display6['Medals/Participações'].apply('{:,.2f}%'.format)
display6.style.set_properties(**{'text-align': 'center'})

In [58]:
comparacoes = ['Gold','Silver','Bronze','Total','Idade média nas edições','Height','Weight','Participações']
colunas = [comparacoes, ['Mundo','Brasil', 'Diferença']]
cols = pd.MultiIndex.from_product(colunas)
comparacao = pd.DataFrame(columns=cols)
for i in comparacoes:   
    comparacao[i,'Brasil'] = maiores_medalhistas_br_esporte_mais_medalhas_br[i]
    comparacao[i,'Mundo'] = maiores_medalhistas_br_esporte_mais_medalhas_br[i].apply(lambda x:maiores_medalhistas_mundo_esporte_mais_medalhas_br[i])
    comparacao[i,'Diferença'] = maiores_medalhistas_br_esporte_mais_medalhas_br[i].apply(lambda x:maiores_medalhistas_mundo_esporte_mais_medalhas_br[i]-x)

comparacao    
comparacao.loc['Média'] = comparacao.mean()
comparacao = pd.DataFrame(comparacao.loc['Média'])

comparacao.index.names = ['Características','Comparação']
comparacao = comparacao.pivot_table(index='Características', columns='Comparação', values='Média')[['Mundo','Brasil','Diferença']]
comparacao

# #Média ponderada pela quantidade de participações da porcentagem de medalhas em relação à quantidade de participações
comparacao.loc['Medals/Participações'] = comparacao.loc['Total']/comparacao.loc['Participações']*100
comparacao['Diferença'].loc['Medals/Participações'] = comparacao['Mundo'].loc['Medals/Participações'] - comparacao['Brasil'].loc['Medals/Participações']

# #formatação
comparacao.loc['Medals/Participações'] = comparacao.loc['Medals/Participações'].apply('{:,.2f}%'.format)
comparacao.loc[['Gold','Silver','Total','Participações','Medals/Participações','Height','Weight','Idade média nas edições']]

Comparação                 Mundo  Brasil Diferença
Características
Gold                        4.00    2.00      2.00
Silver                      1.00    1.50     -0.50
Total                       5.00    5.00      0.00
Participações               5.00    6.00     -1.00
Medals/Participações     100.00%  83.33%    16.67%
Height                    183.00  186.50     -3.50
Weight                     90.00   82.00      8.00
Idade média nas edições    27.00   33.42     -6.42

Calcule o percentual de medalhas de ouro, prata e bronze que o Brasil ganhou em cada olimpíada.

In [59]:
total_medalhas_tipo_ano_df = pd.DataFrame(total_medalhas_tipo_ano)
total_medalhas_tipo_ano_df = total_medalhas_tipo_ano_df.rename(columns={'Medal':'Qtdade'})
total_medalhas_tipo_ano_df = total_medalhas_tipo_ano_df.pivot_table(index='Year',columns='Medal',values='Qtdade')

total_medalhas_tipo_ano_br_df = pd.DataFrame(total_medalhas_tipo_ano_br)
total_medalhas_tipo_ano_br_df = total_medalhas_tipo_ano_br_df.rename(columns={'Medal':'Qtdade'})
total_medalhas_tipo_ano_br_df = total_medalhas_tipo_ano_br_df.pivot_table(index='Year',columns='Medal',values='Qtdade')
total_medalhas_tipo_ano_br_df[pd.isna(total_medalhas_tipo_ano_br_df)] = 0

percentual = total_medalhas_tipo_ano_br_df/total_medalhas_tipo_ano_df*100
percentual = percentual[percentual.index.isin(total_medalhas_tipo_ano_br_df.index)][['Gold','Silver','Bronze']].applymap('{:,.2f}%'.format)
percentual

Medal   Gold Silver Bronze
Year
1920   0.65%  0.66%  0.72%
1948   0.00%  0.00%  0.68%
1952   0.67%  0.00%  1.37%
1956   0.66%  0.00%  0.00%
1960   0.00%  0.00%  1.34%
1964   0.00%  0.00%  0.62%
1968   0.00%  0.59%  1.16%
1972   0.00%  0.00%  1.05%
1976   0.00%  0.00%  1.02%
1980   0.99%  0.00%  1.00%
1984   0.45%  2.31%  0.91%
1988   0.42%  0.85%  1.27%
1992   0.78%  0.39%  0.00%
1996   1.11%  1.11%  3.35%
2000   0.00%  2.01%  2.01%
2004   1.66%  0.67%  1.00%
2008   0.99%  1.32%  2.99%
2012   0.99%  1.66%  3.00%
2016   2.29%  1.97%  1.97%

<font color='blue'>Os anos que não aparecem na lista o Brasil não ganhou medalhas.